apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "auth.fullname" . }}-config
  labels:
    {{- include "auth.labels" . | nindent 4 }}
data:
  auth.yaml: |
    service:
      name: "auth-service"
      version: "{{ .Chart.AppVersion }}"
    
    server:
      http:
        port: "{{ .Values.service.httpTargetPort }}"
        timeout: 30
        debug: {{ eq .Values.config.environment "dev" }}
      
      grpc:
        port: "{{ .Values.service.grpcTargetPort }}"
        timeout: 30
    
    database:
      driver: "postgres"
      host: "{{ .Values.config.database.host }}"
      port: {{ .Values.config.database.port }}
      name: "{{ .Values.config.database.name }}"
      user: "{{ .Values.config.database.user }}"
      max_open_conns: 10
      max_idle_conns: 5
      conn_max_lifetime: 3600
    
    log:
      level: "{{ eq .Values.config.environment "dev" | ternary "debug" "info" }}"
      format: "{{ eq .Values.config.environment "dev" | ternary "console" "json" }}"
      output: "{{ .Values.volumes.logs.enabled | ternary "file" "stdout" }}"
